{
  "log": {
    "_recordingName": "fetch-end-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1e85a5820e50d5ee36fdec49d2109894",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://swaggerdemo.device42.com/api/1.0/endusers/?offset=0&limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 16134,
            "text": "{\"values\":[{\"location\":\"basement\",\"domain\":\"\",\"name\":\"john smith\",\"id\":1,\"tags\":[],\"notes\":\"he has the red stapler\",\"custom_fields\":[],\"contact\":\"nobody knows\",\"email\":\"jsmith@example.com\",\"adusername\":\"\"},{\"location\":\"Bat Cave\",\"domain\":\"\",\"name\":\"batman\",\"id\":2,\"tags\":[],\"notes\":\"He's the hero Gotham deserves, but not the one it needs right now.\",\"custom_fields\":[],\"contact\":\"Unknown\",\"email\":\"master.wayne@wayne.com\",\"adusername\":\"\"},{\"location\":\"ny\",\"domain\":\"\",\"name\":\"ironman\",\"id\":3,\"tags\":[],\"notes\":\"\",\"custom_fields\":[],\"contact\":\"\",\"email\":\"ironman@spark.com\",\"adusername\":\"\"},{\"location\":\"\",\"domain\":\"\",\"name[...]
