{
  "log": {
    "_recordingName": "username-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e9edd13753603689637cb0b8e973d352",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://swaggerdemo.device42.com/api/1.0/endusers/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 72,
            "text": "{\"msg\":\"You don't have permissions to access this resource.\",\"code\":\"1\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, POST, DELETE, HEAD, OPTIONS"
            },
            {
              "name": "content-language",
              "value": "en"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 167,
      },
      {
        "_id": "e9edd13753603689637cb0b8e973d352",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://swaggerdemo.device42.com/api/1.0/endusers/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
    [...]
