{
  "log": {
    "_recordingName": "fetch-devices",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2148424638d542e41cf44d3746f23fb8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "500"
            },
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "blankasnull",
              "value": "yes"
            }
          ],
          "url": "https://swaggerdemo.device42.com/api/1.0/devices/all/?limit=500&offset=0&blankasnull=yes"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 651545,
            "text": "{\"Devices\":[{\"hw_size\":1.0,\"tags\":[],\"xpos\":0,\"hddsize\":null,\"building\":\"New Haven\",\"serial_no\":\"FAB0447Y35M\",\"type\":\"physical\",\"corethread\":null,\"hddcount\":null,\"is_it_virtual_host\":\"no\",\"preferred_alias\":null,\"device_id\":1,\"in_service\":true,\"virtual_host_name\":null,\"row\":\"2\",\"cpucore\":null,\"orientation\":1,\"hdd_details\":null,\"nonauthoritativealiases\":[],\"service_level\":\"Production\",\"hddraid\":null,\"ip_addresses\":[{\"type\":null,\"ip\":\"192.168.11.210\",\"subnet_id\":7,\"label\":\"VLAN1\",\"subnet\":\"192.168.11.0/24\"}],\"customer\":null,\"asset_no\":null,\"is_it_switch\":\"yes\",\"cpuspeed\":null,\"cpucount\":null,\"hw_depth\":1,\"room\":\"NHDC1\",\"rack\":\"NH-DC1-05\",\"start_at\":22.0,\"id\":1,\"hddraid_type\":null,\"device_sub_type\":\"Rackable\",\"custom_fields\":[{\"notes\":null,\"value\":null,\"key\":\"custom_field\"},{\"notes\":null,\"value\":null,\"key\":\"Env\"},{\"notes\":null,\"value\":null,\"key\":\"NewPL\"},{\"notes\":null,\"value\":null,\"key\":\"Program\"},{\"notes\":null,\"value\":null,\"key\":\"Project\"},{\"notes\":null,\"value\":null,\"key\":\"test\"},{\"notes\":null,\"value\":null,\"key\":\"YNtest\"}],\"aliases\":[],\"category\":null,\"device_purchase_line_items\":[],\"manufacturer\":\"Cisco Systems, Inc.\",\"where\":5,\"mac_addresses\":[],\"ram\":null,\"rack_id\":24,\"os\":null,\"uuid\":null,\"name\":\"nh-lab-switch-01\",\"last_updated\":\"2022-12-17T22:56:16.458195Z\",\"hw_model_id\":3,\"hw_model\":\"2924XLv\",\"device_external_links\":[],\"notes\":null,\"ucs_manager\":null,\"is_it_blade_host\":\"no\"},{\"hw_size\":6.0,\"tags\":[],\"xpos\":0,\"hddsize\":null,\"building\":\"New Haven\",\"serial_no\":\"1478\",\"type\":\"physical\",\"corethread\":null,\"hddcount\":null,\"is_it_virtual_host\":\"no\",\"preferred_alias\":null,\"device_id\":38,\"in_service\":true,\"virtual_host_name\":null,\"row\":\"1\",\"cpucore\":null,\"orientation\":1,\"hdd_details\":null,\"nonauthoritativealiases\":[],\"service_level\":\"Production\",\"hddraid\":null,\"ip_addresses\":[],\"customer\":null,\"asset_no\":\"00[...]
