{
  "log": {
    "_recordingName": "fetch-devices",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1ca1dd237992c7d08e2bcd8d4df39a33",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1000"
            },
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "blankasnull",
              "value": "yes"
            }
          ],
          "url": "http://swaggerdemo.device42.com/api/1.0/devices/all/?limit=1000&offset=0&blankasnull=yes"
        },
        "response": {
          "content": {
            "mimeType": "text/html",
            "size": 169,
            "text": "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.20.1</center>\r\n</body>\r\n</html>\r\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html"
            },
            {
              "name": "location",
              "value": "https://swaggerdemo.device42.com/api/1.0/devices/all/?limit=1000&offset=0&blankasnull=yes"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 351,
      },
      {
        "_id": "8ebc09a265c35704d179915d764a3790",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1000"
            },
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "blankasnull",
              "value": "yes"
            }
          ],
          "url": "https://swaggerdemo.device42.com/api/1.0/devices/all/?limit=1000&offset=0&blankasnull=yes"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1761275,
            "text": "{\"limit\":1000,\"total_count\":900,\"Devices\":[{\"uuid\":null,\"device_purchase_line_items\":[],\"hdd_details\":null,\"is_it_blade_host\":\"no\",\"service_level\":\"Production\",\"preferred_alias\":null,\"aliases\":[],\"custom_fields\":[{\"key\":\"123_test\",\"notes\":null,\"value\":\"123\"},{\"key\":\"4242\",\"notes\":null,\"value\":null},{\"key\":\"Administrator\",\"notes\":null,\"value\":null},{\"key\":\"App\",\"notes\":null,\"value\":\"nonsense\"},{\"key\":\"custom_field\",\"notes\":null,\"value\":null},{\"key\":\"department\",\"notes\":null,\"value\":null},{\"key\":\"dsagfdsfh\",\"notes\":null,\"value\":null},{\"key\":\"Env\",\"notes\":null,\"value\":null},{\"key\":\"IT-PATCH\",\"notes\":null,\"value\":null},{\"key\":\"Master\",\"notes\":null,\"value\":null},{\"key\":\"NewPL\",\"notes\":null,\"value\":null},{\"key\":\"Owner\",\"notes\":null,\"value\":\"Team-DataInfra\"},{\"key\":\"Owner Name\",\"notes\":null,\"value\":\"Akash Shinde\"},{\"key\":\"patch_version\",\"notes\":null,\"value\":null},{\"key\":\"Program\",\"notes\":null,\"value\":null},{\"key\":\"Project\",\"notes\":null,\"value\":null},{\"key\":\"SentinelOne_Active\",\"notes\":null,\"value\":\"Yes\"},{\"key\":\"Status\",\"notes\":null,\"value\":null},{\"key\":\"terefe\",\"notes\":null,\"value\":\"test\"},{\"key\":\"test\",\"notes\":null,\"value\":null},{\"key\":\"YNtest\",\"notes\":null,\"value\":null}],\"nonauthoritativealiases\":[],\"tags\":[],\"in_service\":true,\"device_id\":1,\"customer\":null,\"manufacturer\":\"Cisco Systems, Inc.\",\"id\":1,\"serial_no\":\"FAB0447Y35M\",\"virtual_host_name\":null,\"cpucore\":null,\"device_external_links\":[],\"hddraid\":null,\"notes\":null,\"mac_addresses\":[],\"last_updated\":\"2023-10-18T22:41:27.328123Z\",\"hddraid_type\":null,\"device_sub_type\":\"Rackable\",\"cpucount\":null,\"type\":\"physical\",\"hddsize\":null,\"ip_addresses\":[{\"ip\":\"192.168.11.210\",\"subnet_id\":7,\"label\":\"VLAN1\",\"subnet\":\"192.168.11.0/24\",\"type\":null},{\"ip\":\"1.1.1.1\",\"subnet_id\":38,\"label\":\"ethernet1/1\",\"subnet\":\"undefined-0.0.0.0/0\",\"type\":1}],\"hw_model\":\"2924XLv\",\"hddcount\":null,\"ram\":null,\"asset_no\":null,\"category\":null,\"hw_size\":1.0,\"name\":\"LK123\",\"is_it_virtual_host\":\"no\",\"os\":null,\"is_it_switch\":\"yes\",\"hw_depth\":1,\"corethread\":null,\"hw_model_id\":3,\"cpuspeed\":null,\"ucs_manager\":null},{\"uuid\":null,\"device_purchase_line_items\":[],\"hdd_details\":null,\"is_it_blade_host\":\"yes\",\"service_level\":\"Production\",\"preferred_alias\":null,\"aliases\":[],\"custom_fields\":[{\"key\":\"123_test\",\"notes\":null,\"value\":null},{\"key\":\"4242\",\"notes\":null,\"value\":null},{\"key\":\"Administrator\",\"notes\":null,\"value\":null},{\"key\":\"App\",\"notes\":null,\"value\":null},{\"key\":\"custom_field\",\"notes\":null,\"value\":null},{\"key\":\"department\",\"notes\":null[...]
