{
  "log": {
    "_recordingName": "fetch-devices",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6cfc3c172ac2c622a326ce105fd726c4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "25"
            },
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "blankasnull",
              "value": "yes"
            }
          ],
          "url": "http://swaggerdemo.device42.com/api/1.0/devices/all/?limit=25&offset=0&blankasnull=yes"
        },
        "response": {
          "content": {
            "mimeType": "text/html",
            "size": 169,
            "text": "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.20.1</center>\r\n</body>\r\n</html>\r\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html"
            },
            {
              "name": "location",
              "value": "https://swaggerdemo.device42.com/api/1.0/devices/all/?limit=25&offset=0&blankasnull=yes"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 366,
      },
      {
        "_id": "c9fc40a36f0c8f2ed9a4382f1802d8bf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "25"
            },
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "blankasnull",
              "value": "yes"
            }
          ],
          "url": "https://swaggerdemo.device42.com/api/1.0/devices/all/?limit=25&offset=0&blankasnull=yes"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 57019,
            "text": "{\"total_count\":905,\"Devices\":[{\"hw_model_id\":3,\"ucs_manager\":null,\"hw_model\":\"2924XLv\",\"device_external_links\":[],\"is_it_virtual_host\":\"no\",\"in_service\":true,\"hdd_details\":null,\"notes\":null,\"hddraid\":null,\"hddraid_type\":null,\"is_it_switch\":\"yes\",\"custom_fields\":[{\"notes\":null,\"key\":\"''\",\"value\":null},{\"notes\":null,\"key\":\"1\",\"value\":null},{\"notes\":null,\"key\":\"123_test\",\"value\":\"123\"},{\"notes\":null,\"key\":\"4242\",\"value\":null},{\"notes\":null,\"key\":\"Administrator\",\"value\":null},{\"notes\":null,\"key\":\"App\",\"value\":\"nonsense\"},{\"notes\":null,\"key\":\"building\",\"value\":null},{\"notes\":null,\"key\":\"contract_end_date\",\"value\":null},{\"notes\":null,\"key\":\"custom_field\",\"value\":null},{\"notes\":null,\"key\":\"department\",\[...]
